:root {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 10px;
	--navbar-height: 56px;
	--menu-width: 240px;
	--white-low-transparency: rgba(255, 255, 255, 0.975);
	--blue-sign-in-color: rgb(0, 100, 200);
	--dark-gray-footer: rgb(100, 100, 100);
	--gray-low-transparency: rgba(200, 200, 200, 0.8);
	--gray-medium-transparency: rgba(200, 200, 200, 0.5);
	--gray-high-transparency: rgba(200, 200, 200, 0.2);
	--gray-very-high-transparency: rgba(200, 200, 200, 0.1);
}

html {
	overflow-y: scroll;
	scrollbar-color: var(--dark-gray-footer) var(--gray-very-high-transparency);
}

::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	background: var(--gray-very-high-transparency);
}

::-webkit-scrollbar-thumb {
	visibility: hidden;
	background: var(--gray-low-transparency);
}

:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

svg {
	user-select: none;
	display: block;
}

[id*='menu'] svg,
[id*='menu'] img {
	height: 24px;
	width: 24px;
}

/* Top navbar elements styling  */

#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(255, 255, 255);
	z-index: 250;
}

.start,
.center,
.end {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--white-low-transparency);
}

.start svg,
.center svg,
.end svg {
	width: 24px;
	height: 24px;
}

.start {
	padding-left: 24px;
	padding-right: 10px;
}

.ham-menu {
	cursor: pointer;
}

.yt-logo a {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 130px;
	padding: 1px 12px;
}

.yt-logo svg {
	height: 20px;
	width: 90px;
}

#country-code {
	height: 30px;
	padding: 4px;
	color: var(--dark-gray-footer);
}

.center {
	flex: 0 1 720px;
	height: 40px;
}

#search-box {
	background-color: transparent;
	padding: 0 12px;
	box-sizing: border-box;
	font-size: 1.5rem;
	height: 100%;
	width: 100%;
	min-width: 80px;
	border: 1px solid var(--gray-low-transparency);
}

#search-box:focus {
	outline: none;
	border: 1px solid var(--blue-sign-in-color);
}

.clear_btn {
	border: 0 solid var(--gray-low-transparency);
	border-width: 1px 1px 1px 0;
	background-color: var(--gray-very-high-transparency);
	cursor: pointer;
	padding: 19px;
	position: relative;
	box-sizing: border-box;
	transition: 0.2s ease;
}

.clear_btn span::before,
.clear_btn span::after {
	content: '';
	position: absolute;
	top: 9px;
	left: 18px;
	width: 2px;
	height: 20px;
	background-color: rgb(0, 0, 0);
	transform: rotate(-45deg);
}

.clear_btn span::after {
	transform: rotate(45deg);
}

.clear_btn:hover {
	background-color: var(--gray-medium-transparency);
}

#mag-glass {
	cursor: pointer;
	height: 100%;
	display: flex;
	padding: 0 20px;
	align-items: center;
	box-sizing: border-box;
	border: 0 solid var(--gray-low-transparency);
	border-width: 1px 1px 1px 0;
	background-color: var(--gray-very-high-transparency);
	transition: 0.2s ease;
}

#mag-glass:hover {
	background-color: var(--gray-medium-transparency);
}

#voice-search {
	cursor: pointer;
	background-color: var(--gray-high-transparency);
	border: none;
	border-radius: 50%;
	margin-left: 8px;
	padding: 8px;
	transition: 0.2s ease;
}

#voice-search:hover {
	background-color: var(--gray-medium-transparency);
}

.end > * {
	padding: 8px;
	margin-right: 8px;
	cursor: pointer;
}

#user-apps,
#user-settings,
.user-account {
	background: none;
	border: none;
}

.sign-in {
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--blue-sign-in-color);
	fill: var(--blue-sign-in-color);
	color: var(--blue-sign-in-color);
	padding: 6px 12px;
	font-weight: 600;
	box-sizing: border-box;
	text-transform: uppercase;
	width: fit-content;
	white-space: nowrap;
}

.sign-in svg {
	width: 24px;
	height: 24px;
	margin: 0 8px 0 0 !important;
}

/* Menu elements styling  */

[id*='menu'] {
	position: fixed;
	top: var(--navbar-height);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
	height: calc(100% - var(--navbar-height));
	font-size: 1.5rem;
	width: var(--menu-width);
	background-color: rgb(255, 255, 255);
}

[id*='menu']:hover {
	scrollbar-color: var(--dark-gray-footer) transparent;
	scrollbar-width: thin;
}

[id*='menu'] li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
}

[id*='menu'] li:hover {
	background-color: var(--gray-high-transparency);
}

[id*='menu'] a.active li {
	background-color: var(--gray-medium-transparency);
}

[id*='menu'] a.active li:hover {
	background-color: var(--gray-low-transparency);
}

[id*='menu'] svg,
[id*='menu'] img {
	margin: 8px;
	margin-right: 24px;
	border-radius: 50%;
}

[id*='menu'].is-thin {
	overflow-y: hidden;
}

[id*='menu'].is-thin h2 {
	font-size: 1rem;
	margin: 0 !important;
}

.section,
.best-of-yt,
.more-from-yt {
	display: flex;
	flex-direction: column;
	padding: 12px 0;
	border-bottom: 1px solid var(--gray-low-transparency);
}

.more-from-yt ul:nth-child(2) {
	border-bottom: 1px solid var(--gray-low-transparency);
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.section-title {
	padding: 8px 24px;
	color: var(--dark-gray-footer);
	text-transform: uppercase;
}

.browse-channels {
	border-bottom: 1px solid var(--gray-low-transparency);
}

.browse-channels div {
	display: flex;
	align-items: center;
	margin: 8px 0;
	padding: 0 16px;
	cursor: pointer;
}

.browse-channels div:hover {
	background-color: var(--gray-low-transparency);
}

.browse-channels div svg {
	margin: 8px;
	margin-right: 24px;
	padding: 8px 0;
}

.subscriptions {
	border-bottom: 1px solid var(--gray-low-transparency);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	padding: 6px 24px;
}

.subscriptions > * {
	margin: 6px;
	line-height: 2rem !important;
}

.footer {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	color: var(--dark-gray-footer);
	padding: 4px 0 0 24px;
}

.footer > div:not([class*='llc']) {
	padding: 8px 0;
}

.footer > div:not([class*='llc']) > div {
	cursor: pointer;
	display: inline-block;
	line-height: 1rem;
	margin-right: 8px;
}

.llc {
	font-weight: 300;
	padding: 8px 0 16px 0;
}

.my-footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	background-color: var(--dark-gray-footer);
}

.my-footer a {
	display: block;
	color: var(--white-low-transparency);
	padding: 4px;
}

.my-footer svg {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0 8px;
	box-sizing: content-box;
	border-radius: 50%;
	padding: 1px;
	background-color: var(--white-low-transparency);
	fill: rgb(0, 0, 0);
}

/* Collapsing menu styling  */

#menu-collapsing.is-thin li {
	display: flex;
	flex-direction: column;
	padding: 12px 0;
}

#menu-collapsing.is-thin li * {
	margin: 8px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-collapsing.is-thin .section {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#menu-collapsing.is-thin .subscriptions,
#menu-collapsing.is-thin .best-of-yt,
#menu-collapsing.is-thin .browse-channels,
#menu-collapsing.is-thin .more-from-yt,
#menu-collapsing.is-thin .footer,
#menu-collapsing.is-thin .my-footer a {
	display: none;
}

/* Main grid elements styling  */

.main-page-loading,
.video-page-loading,
.video-related-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(125, 125, 125);
	color: rgb(255, 255, 255);
	z-index: 25;
	font-weight: 600;
	text-transform: uppercase;
}

.main-page-loading {
	grid-column: 1/-1;
	grid-row: 1/-1;
}

.video-page-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-related-loading {
	padding: 16px;
	width: 100%;
	box-sizing: border-box;
}

.main-page-loading {
	height: calc(100vh - 48px - 2 * var(--navbar-height));
}

.main-page-loading h1,
.video-page-loading h1,
.video-related-loading h2 {
	text-align: justify;
	text-align-last: center;
	line-height: 2.5rem;
	margin: 8px;
}

.video-related-loading h2 {
	line-height: 2rem;
}

.loading-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.loading-icon svg {
	height: 80px;
	width: 80px;
}

.fade-cover {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	z-index: 100;
	transition: 0.1s ease;
}

.fade-cover.is-hidden {
	opacity: 0;
	z-index: -100;
}

#contents-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: calc(2 * var(--navbar-height));
	margin-left: var(--menu-width);
	min-height: calc(100vh - 2 * (var(--navbar-height)));
	background-color: var(--gray-very-high-transparency);
}

#category-filter {
	user-select: none;
	font-size: 1.5rem;
	position: fixed;
	top: var(--navbar-height);
	left: var(--menu-width);
	width: calc(100% - var(--menu-width));
	height: var(--navbar-height);
	background-color: var(--white-low-transparency);
	border: solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0;
	scrollbar-width: none;
	overflow: auto hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
	z-index: 5;
}

#category-filter ul li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	margin: 0 6px;
	border: 1px solid var(--gray-low-transparency);
	border-radius: 20px;
	background-color: var(--gray-high-transparency);
	transition: 0.2s ease;
}

#category-filter ul:first-child {
	margin-left: 16px;
}

#category-filter ul:last-child {
	margin-right: 16px;
}

#category-filter ul li:hover {
	background-color: var(--gray-low-transparency);
}

#category-filter ul a.active li {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}

#search-result-contents {
	margin-bottom: 40px;
	grid-gap: 16px;
	display: grid;
	grid-template-columns: repeat(4, minmax(260px, 1fr));
	grid-column: 1/-1;
	grid-row: 1/2;
	border-bottom: 4px solid var(--gray-medium-transparency);
	max-height: fit-content;
	box-sizing: border-box;
}

.search-result-tag {
	margin: 0 0 8px 8px;
	font-weight: 600;
	grid-column: 1/-1;
}

#main-contents {
	position: relative;
	padding: 24px;
	grid-gap: 16px;
	display: grid;
	grid-template-columns: repeat(4, minmax(260px, 1fr));
	grid-auto-flow: row;
	grid-auto-columns: 500px;
}

#trending-contents {
	position: relative;
	margin-bottom: 40px;
	grid-gap: 16px;
	display: grid;
	grid-template-columns: repeat(4, minmax(260px, 1fr));
	grid-column: 1/-1;
	grid-row: 3/4;
	border-top: 4px solid var(--gray-medium-transparency);
	border-bottom: 4px solid var(--gray-medium-transparency);
	overflow: hidden;
	max-height: fit-content;
	box-sizing: border-box;
}

.video-card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	max-width: 360px;
}

#trending-contents .video-card {
	margin-bottom: 40px;
}

.whole-card-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	z-index: 0;
}

.trending-tag {
	margin: 24px 0 8px 8px;
	font-weight: 600;
	grid-column: 1/-1;
}

/* NEEDS FIXING */
.expand-trending-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 12px 0;
	display: flex;
	justify-content: center;
}

.expand-trending-btn:hover {
	background-color: var(--gray-high-transparency);
}

.expand-trending-btn svg {
	height: 24px;
	width: 24px;
}

.card-thumbnail {
	display: block;
	width: 100%;
	max-height: 360px;
}

.card-thumbnail img {
	width: 100%;
}

.card-details {
	display: flex;
	flex-direction: row;
	padding: 12px 0;
}

.metadata {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.channel-name,
.metadata span {
	color: var(--dark-gray-footer);
}

.metadata span {
	display: flex;
	flex-direction: row;
}

.metadata > h2 {
	margin-bottom: 8px;
}

.card-details * {
	line-height: 1.75rem;
}

.metadata > * {
	width: fit-content;
	cursor: pointer;
}

.channel-name-link,
.total-views,
.upload-date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis !important;
}

.channel-name-link {
	z-index: 1;
}

.channel-name:hover {
	color: rgb(0, 0, 0);
}

.metadata span > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.metadata span > h3:first-child::after {
	content: '\A';
	width: 3px;
	height: 3px;
	margin: 0 4px;
	border-radius: 50%;
	background-color: var(--dark-gray-footer);
}

.channel-picture-link {
	z-index: 1;
	cursor: pointer;
	display: block;
	height: 36px;
	width: 36px;
	margin-right: 12px;
}

.channel-picture {
	display: block;
	height: 100%;
	width: 100%;
	min-height: 36px;
	min-width: 36px;
	border-radius: 50%;
}

.channel-picture img {
	height: 100%;
	width: 100%;
}

.video-card-more-btn {
	height: fit-content;
	width: fit-content;
	cursor: pointer;
	z-index: 1;
	visibility: hidden;
}

.video-card-more-btn svg {
	width: 24px;
	height: 24px;
}

.video-card:hover .video-card-more-btn {
	visibility: visible;
}

/* Video page styling  */

/* Sliding menu styling  */

#menu-sliding {
	top: var(--navbar-height);
}

#menu-sliding {
	transition: 0.2s ease;
}

#menu-sliding {
	width: 240px;
	z-index: 200;
	transform: translateX(0);
}

#menu-sliding.is-hidden {
	transform: translateX(-240px);
}

/* Video player styling */

#video-page {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: var(--navbar-height);
	background-color: var(--gray-very-high-transparency);
	min-height: calc(100vh - var(--navbar-height));
}

#video-main-container {
	display: flex;
	flex-direction: column;
	margin: 24px;
	min-width: 212px;
	max-width: 1060px;
}

.video-player-wrapper {
	min-height: 240px;
	min-width: 426px;
}

.video-player {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* Video description and statistics styling */

.video-metadata {
	display: flex;
	flex-direction: column;
	padding: 24px 0;
}

.video-metadata p {
	font-size: 1.5rem !important;
}

.video-title {
	font-weight: 600;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.video-engagement {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 600;
	padding: 12px 0;
}

.video-engagement-start,
.video-engagement-end {
	display: flex;
	flex-direction: row;
}

.video-engagement-start > *,
.video-engagement-end > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video-engagement h2 {
	width: fit-content;
	white-space: nowrap;
}

.video-engagement-start {
	color: var(--dark-gray-footer);
}

.video-engagement-start > * {
	cursor: pointer;
}
.video-engagement-end > * {
	cursor: pointer;
	margin-left: 24px;
	text-transform: uppercase;
}

.video-engagement-start > :first-child::after {
	content: '\A';
	width: 3px;
	height: 3px;
	margin: 0 4px;
	border-radius: 50%;
	background-color: var(--dark-gray-footer);
}

.video-votes {
	display: flex;
	flex-direction: column;
}

.video-votes-thumbs,
.video-votes-bars,
.video-likes,
.video-dislikes {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video-engagement svg {
	width: 24px;
	height: 24px;
}

.video-engagement-end h2 {
	padding-left: 4px;
}

.video-likes {
	margin-right: 24px;
}

.video-votes-bars {
	position: relative;
	width: 100%;
	cursor: default;
}

.video-likes-bar {
	position: absolute;
	top: 10px;
	height: 2px;
	background-color: rgb(0, 150, 0);
	z-index: 1;
}

.video-dislikes-bar {
	position: absolute;
	top: 10px;
	height: 2px;
	width: 100%;
	background-color: rgb(225, 0, 0);
}

.video-channel-data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid var(--gray-medium-transparency);
	padding: 16px 0;
}

.video-channel-details {
	display: flex;
	flex-direction: row;
}

.video-channel-picture,
.video-channel-name {
	cursor: pointer;
}

.video-channel-name,
.video-channel-subscribers-count {
	margin-right: 12px;
	width: fit-content;
	white-space: nowrap;
}

.video-channel-picture {
	display: block;
	height: 48px;
	width: 48px;
	min-height: 48px;
	min-width: 48px;
	margin-right: 12px;
	border-radius: 50%;
}

.video-channel-picture img {
	height: 100%;
	width: 100%;
}

.video-channel-details > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.video-channel-subscribers-count {
	color: var(--dark-gray-footer);
}

#channel-subscribe-btn {
	padding: 12px 16px;
	height: fit-content;
	background-color: rgb(200, 0, 0);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	border-width: 0;
}

.video-description {
	padding-left: 60px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--gray-medium-transparency);
}

/* Comments section styling */

.new-comment {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.comments-controls {
	display: flex;
	flex-direction: row;
}

.comments-count,
.comments-sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px 0;
	padding-right: 24px;
}

.comments-sort svg {
	width: 24px;
	height: 24px;
}

.comments-sort > * {
	padding: 0 6px;
	font-weight: 600;
	text-transform: uppercase;
}

.new-comment-contents {
	display: flex;
	flex-direction: row;
}

.add-comment-user-picture {
	margin-right: 12px;
	height: 40px;
	width: 40px;
}

#add-comment-input {
	font-size: 1.5rem;
	height: fit-content;
	padding: 0;
	padding-bottom: 4px;
	margin-left: 8px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--gray-medium-transparency);
	flex: 1;
	outline: none;
}

#comments-section-container {
	flex: 1;
	margin: 24px;
}

.comments-section {
	display: flex;
	flex-direction: column;
}

.comment-main {
	display: flex;
	flex-direction: row;
	padding: 12px 0;
}

.comment-metadata {
	display: flex;
	flex-direction: column;
}

.comment-header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.comment-user-picture {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 16px;
}

.comment-user-picture img {
	width: 100%;
	height: 100%;
}

.comment-user-display-name,
.comment-post-date {
	padding: 0 4px 12px 0;
	white-space: nowrap;
}

.comment-user-display-name {
	font-weight: 600;
}

.comment-post-date {
	color: var(--dark-gray-footer);
}

.comment-contents {
	font-size: 1.5rem;
}

.comment-engagement {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.comment-engagement h3 {
	margin: 12px 8px;
	margin-right: 0;
}

.comment-like-count {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--dark-gray-footer);
	margin-right: 16px;
}

.comment-dislike-count {
	margin-right: 16px;
}

.comment-like-count svg,
.comment-dislike-count svg {
	height: 16px;
	width: 16px;
}

.comment-reply-btn {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.25rem;
	color: var(--dark-gray-footer);
}

/* Related videos container styling */

#related-videos-container {
	display: flex;
	flex-direction: column;
	margin: 24px;
	margin-left: 0;
	flex: 1;
	max-width: 400px;
	position: relative;
}

.load-related-videos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 24px;
	font-weight: 600;
	border: 2px solid rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
	box-sizing: border-box;
}

.load-related-videos h2 {
	margin: 12px;
	line-height: 2rem;
	text-align: justify;
	text-align-last: center;
}

#load-related-videos-btn {
	margin: 12px;
	padding: 8px 12px;
	background-color: var(--blue-sign-in-color);
	border: 1px solid rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-weight: 600;
	font-size: 1.5rem;
	cursor: pointer;
	text-transform: uppercase;
}

#related-filter {
	user-select: none;
	font-size: 1.5rem;
	width: 100%;
	scrollbar-width: none;
	overflow: auto hidden;
	white-space: nowrap;
}

#related-filter ul li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	margin: 0 6px;
	margin-bottom: 8px;
	border: 1px solid var(--gray-low-transparency);
	border-radius: 20px;
	background-color: var(--gray-high-transparency);
	transition: 0.2s ease;
}

#related-filter ul li:first-child {
	margin-left: 0;
}

#related-filter ul li:last-child {
	margin-right: 12px;
}

#related-filter ul li:hover {
	background-color: var(--gray-low-transparency);
}

#related-filter ul a.active li {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}

.related-links {
	display: flex;
	flex-direction: column;
}

.related-card {
	display: flex;
	flex-direction: row;
	color: rgb(0, 0, 0);
	margin-top: 12px;
}

.related-card-thumbnail-link {
	cursor: pointer;
	width: 170px;
	height: 94px;
	margin-right: 12px;
}

.related-card-thumbnail {
	display: block;
	width: 170px;
	height: 94px;
}

.related-card-thumbnail img {
	width: 100%;
}

.related-metadata-link {
	cursor: pointer;
}

.related-card-details {
	display: flex;
	width: 100%;
}

.related-metadata {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 24px;
}

.related-metadata h4 {
	width: fit-content;
	padding: 0 4px;
	line-height: 1.5rem;
	font-weight: 600;
	color: var(--dark-gray-footer);
	background-color: var(--gray-medium-transparency);
}

.related-channel-name,
.related-metadata > span {
	color: var(--dark-gray-footer);
}

.related-metadata span {
	display: flex;
	flex-direction: row;
}

.related-metadata > * {
	line-height: 1.75rem;
}

.related-video-title {
	line-height: 2rem;
}

.related-metadata span > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.related-metadata span > h3:first-child::after {
	content: '\A';
	width: 3px;
	height: 3px;
	margin: 0 4px;
	border-radius: 50%;
	background-color: var(--dark-gray-footer);
}

.related-video-title {
	margin-bottom: 4px;
	font-weight: 600;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

@media (max-width: 1200px) {
	#main-contents {
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	}

	#trending-contents {
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	}
}

@media (max-width: 1025px) {
	#video-page {
		flex-direction: column;
	}

	#related-videos-container,
	#comments-section-container {
		margin: 0;
	}

	#video-main-container {
		margin-top: 24px;
	}

	#related-videos-container {
		max-width: 100%;
	}
}
